@use '../base/variables' as *;

.section {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.section__title {
  border-bottom: 2px solid $black;
  text-transform: uppercase;
  margin-bottom: 15px;
}
