@use '../base/variables' as *;

.experience__position {
  color: $gray;
  font-style: italic;
  font-weight: 400;
}

.experience__list {
  list-style: disc;
  padding-left: 45px;
}

.experience__item {
  color: $gray;

  &::marker {
    font-size: 17px;
  }
}
