@use '@/styles/base/variables' as *;
@use '@/styles/base/mixins' as *;

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  padding: 16px;
  width: 90%;
  min-height: 300px;
  border-radius: 10px;

  @include above(tablet) {
    width: 65%;
    max-width: 650px;
  }

  textarea {
    width: 100%;
    min-height: 200px;
    max-height: 1000px;
    border: 2px solid $black;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    resize: vertical;
  }
}

.modal-actions {
  display: flex;
  align-items: center;
  gap: 10px;

  .button {
    width: 50%;
  }
}