@use '../base/variables' as *;

.section-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;

  &__left {
    flex: 1 0 20%;
  }

  &__content {
    flex: 1 0 80%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }
}
