@use '@/styles/base/variables' as *;
@use '@/styles/base/mixins' as *;

.section-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  @include above(tablet) {
      flex-direction: row;
    }
}

.section-item__left {
  width: 145px;
  color: $gray;
}

.section-item__body {
  flex: 1;
  color: $gray;
}

.section-item__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 5px;
}

.section-item__location {
  color: $gray;
}
