@use './variables' as *;
@use './mixins' as *;

* {
  font-family: $fontPrimary;
  color: $black;
  font-size: 17px;
}

body {
  background-color: $white;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 21px;
}